h4{
    color: #72efdd;
    font-weight: 400;
    font-size: 60px;
    font-weight: bold;
    margin-left: 65vh;
    margin-top: 3vh;
    margin-bottom: 40px;
}
.testo{
    color: #eee;
    font-size: 30px;
    margin-left: 30vh;
    font-weight: bold;
}


.contact-box{
    margin-left: 380px;
    margin-top: 10vh;
}
form{
    margin: 35px;
}
.input-field{
    width: 700px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    display: flex;
    flex-wrap: wrap;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px 20px;
    background-color:  #72efdd;
    font-size: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.let:hover{
     display: inline;
}
.let{
    display: flex;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.fa-facebook:hover{
    display: inline-block;
}
.fa-facebook{
   display: flex;
   color: #fff;
   font-size: 30px;
   font-weight: bold;
   margin-right: 20px;
}
.fa-instagram{
    display: flex;
   color: #fff;
   font-size: 30px;
   font-weight: bold;
   margin-right: 30px;
}
.fa-git-alt{
    display: flex;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
}