
@media (max-width: 768px){
    //contatti 
    h4{
        width: 50%;
        margin-right: 50%;
        margin-left: 25%;
    }
    .input-field{
        width: fit-content;
    } 
    .btn{
        margin-left: 0;
    }
    
    //pagina  
    .pagina{
        display: inline-flex;
        flex-wrap: wrap;
        width: 75%;
    }
    .foto{
        margin-left: 40%;
        justify-content: space-evenly;
    }
    h2{        
        width: 50%;
        margin-right: 50%;
        margin-left: 50%;
    }

    //nav bar

	.checkbtn{
		display: block;
		color: #72efdd;
		
	}
	
	ul{
		position: absolute;
		width: 100%;
		height: 35vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .9s;
		z-index: 1;
        overflow-y: hidden;
	}
	nav ul li{
        display: block;
		margin: 50px 0;
		line-height: 30px;
        
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover, a .active{
		background: none;
		color: #72efdd;
	}
	#check:checked ~ ul{
		left: 0;
	}

	// tolgo l'effetto ondulato sui cellulari 

	section .wave{
		display: none;
	}
	 .wrapper{
          display: none;
     }

     .contattiwrap{
         width: 100%;
     }

     .input-field{
         width: 100%;
     }

     .contact-box{
        margin-left: auto;
        margin-top: auto;
    }

}






/*mobile responsive*/

@media (min-width: 360px) and (max-width: 768px){

    .container{
        margin-left: auto;
        padding: 30px;
    }

    .text h3{
        color: #eee;
        font-weight: 400;
        font-size: 2rem; //40px 2.5rem
    }
    
    .text p{
        color: #eee;
        font-weight: 400;
        font-size: 2rem; //40px 2.5rem
    }

    .name{
        font-size: 2rem;
        font-weight: 400;
    }

    .foto{
        max-width: 35vh;
        max-height: 35vh;
        align-content: center;
    }




    .testo{
        margin-left: auto;
        padding: 30px;
    }

    .h4{
        margin-left: auto;
        font-size: 10px;

    }

    .presentazione{
        font-size: 2rem;
        padding: 20px 20px;
    }

    body{
        overflow: auto;
    }
}