nav {
  background: linear-gradient(to bottom right, #023e8a);
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

label .wrap {
  height: 55px;
  width: 55px;
  font-size: 25px;
  border: 3px solid;
  color: #72efdd;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

/*creo effetto bottone con hover*/
a .active, a:hover {
  background: linear-gradient(60deg, #1b9bff, #72efdd);
  transition: 0.5s;
  padding: 8px 15px;
  border-radius: 50px;
}

.checkbtn {
  float: right;
  color: white;
  font-size: 30px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  background-size: cover;
  background: no-repeat;
  height: calc(100vh - 80px);
}

.wrapper .wave {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/img/wave.png);
  background-size: 1000px 100px;
}

.wrapper .wave.wave1 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  bottom: 0;
}

.wrapper .wave.wave2 {
  -webkit-animation: animate2 15s linear infinite;
          animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  bottom: 10px;
}

.wrapper .wave.wave3 {
  -webkit-animation: animate 2.1s ease;
          animation: animate 2.1s ease;
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  bottom: 15px;
}

.wrapper .wave.wave4 {
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  z-index: 997;
  opacity: 0.7;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  bottom: 20px;
}

@-webkit-keyframes aniamte {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 1000px;
  }
}

@keyframes aniamte {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 1000px;
  }
}
@-webkit-keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
/*logo hover effect*/
.wrap:hover {
  -webkit-animation: pulse 1s ease-in-out;
          animation: pulse 1s ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #1b9bff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #1b9bff;
  }
}
/*****/
section {
  position: relative;
  height: 90vh;
  width: 100%;
  background: linear-gradient(#023e8a);
  overflow: hidden;
}

.foto {
  display: flex;
  float: right;
  height: 35vh;
  width: 35vh;
  margin-top: 18vh;
  margin-right: 15vh;
  border-radius: 50%;
  border: 3px solid #72efdd;
}

.container {
  margin-top: 18vh;
  margin-left: 20vh;
  color: #fff;
  font-size: 2em;
  line-height: 1.2;
}

.name {
  background-image: linear-gradient(90deg, #1dc4ca, #2cf9db);
  color: transparent;
  -webkit-background-clip: text;
}

.text h3 {
  color: #eee;
  font-weight: 400;
  font-size: 2.5rem;
}

.text p {
  color: #eee;
  font-weight: 400;
  font-size: 2.5rem;
}

/*effetto sottolinetao*/
.job {
  position: relative;
}

.job::after {
  position: absolute;
  content: "";
  background: #72efdd;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.job:hover:after {
  width: 100%;
}

/*snap scroll skills*/
.snap {
  height: 100vh;
}

.languages {
  color: #72efdd;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 100px;
  font-size: 48px;
  font-weight: bold;
}

/* cards */
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 25vh;
}

.card-html {
  background-color: #eee;
  padding: 20px 20px;
  width: 25vh;
  height: 25vh;
  border-radius: 10px;
}

.card-html:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px rgb(78, 78, 78);
}

.fa-html5 {
  color: #F06529;
  font-size: 15vh;
  margin-left: 4.5vh;
  margin-top: 1vh;
}

.description1 {
  text-align: center;
  margin-top: 1vh;
  font-weight: bold;
}

.card-css {
  background-color: #eee;
  padding: 20px 20px;
  width: 25vh;
  height: 25vh;
  border-radius: 10px;
}

.card-css:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px rgb(78, 78, 78);
}

.fa-css3-alt {
  color: #2A65F1;
  font-size: 15vh;
  margin-left: 4.5vh;
  margin-top: 1vh;
}

.description2 {
  text-align: center;
  margin-top: 1vh;
  font-weight: bold;
}

.card-sass {
  background-color: #eee;
  padding: 20px 20px;
  width: 25vh;
  height: 25vh;
  border-radius: 10px;
}

.card-sass:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px rgb(78, 78, 78);
}

.fa-sass {
  color: #CE679A;
  font-size: 12vh;
  margin-left: 4vh;
  margin-top: 3vh;
}

.description3 {
  text-align: center;
  margin-top: 3vh;
  font-weight: bold;
}

.presentazione h2 {
  color: #72efdd;
  font-weight: 400;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  margin-left: 50vh;
  margin-top: 11vh;
  margin-bottom: 40px;
}

.presentazione p {
  color: #eee;
  font-size: 25px;
  margin-left: 30px;
}

h4 {
  color: #72efdd;
  font-weight: 400;
  font-size: 60px;
  font-weight: bold;
  margin-left: 65vh;
  margin-top: 3vh;
  margin-bottom: 40px;
}

.testo {
  color: #eee;
  font-size: 30px;
  margin-left: 30vh;
  font-weight: bold;
}

.contact-box {
  margin-left: 380px;
  margin-top: 10vh;
}

form {
  margin: 35px;
}

.input-field {
  width: 700px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  display: flex;
  flex-wrap: wrap;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.btn {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px 20px;
  background-color: #72efdd;
  font-size: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.let:hover {
  display: inline;
}

.let {
  display: flex;
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.fa-facebook:hover {
  display: inline-block;
}

.fa-facebook {
  display: flex;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

.fa-instagram {
  display: flex;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
}

.fa-git-alt {
  display: flex;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
}

@media (max-width: 768px) {
  h4 {
    width: 50%;
    margin-right: 50%;
    margin-left: 25%;
  }
  .input-field {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .btn {
    margin-left: 0;
  }
  .pagina {
    display: inline-flex;
    flex-wrap: wrap;
    width: 75%;
  }
  .foto {
    margin-left: 40%;
    justify-content: space-evenly;
  }
  h2 {
    width: 50%;
    margin-right: 50%;
    margin-left: 50%;
  }
  .checkbtn {
    display: block;
    color: #72efdd;
  }
  ul {
    position: absolute;
    width: 100%;
    height: 35vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.9s;
    z-index: 1;
    overflow-y: hidden;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a .active {
    background: none;
    color: #72efdd;
  }
  #check:checked ~ ul {
    left: 0;
  }
  section .wave {
    display: none;
  }
  .wrapper {
    display: none;
  }
  .contattiwrap {
    width: 100%;
  }
  .input-field {
    width: 100%;
  }
  .contact-box {
    margin-left: auto;
    margin-top: auto;
  }
}
/*mobile responsive*/
@media (min-width: 360px) and (max-width: 768px) {
  .container {
    margin-left: auto;
    padding: 30px;
  }
  .text h3 {
    color: #eee;
    font-weight: 400;
    font-size: 2rem;
  }
  .text p {
    color: #eee;
    font-weight: 400;
    font-size: 2rem;
  }
  .name {
    font-size: 2rem;
    font-weight: 400;
  }
  .foto {
    max-width: 35vh;
    max-height: 35vh;
    align-content: center;
  }
  .testo {
    margin-left: auto;
    padding: 30px;
  }
  .h4 {
    margin-left: auto;
    font-size: 10px;
  }
  .presentazione {
    font-size: 2rem;
    padding: 20px 20px;
  }
  body {
    overflow: auto;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #023e8a;
}/*# sourceMappingURL=paginapers.css.map */