@import 'navbar';
@import 'onde';
@import 'section';
@import 'about';
@import 'contacts';
@import 'responsive';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background: #023e8a;
}

