*{
    box-sizing: border-box;
}

body{
    text-align: center;
    color: black;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#display{
    font-size: 50px;
    margin-top: 25vh;
}

button{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 40px;
    background-color: #fff;
}

button:hover{
    background-color: grey;
}

 #increase{
    padding: 20px 40px;
    background-color: #fff;
    border: 2px solid green;
    border-radius: 10px;
    font-weight: bold;
}


#increase:hover{
    background-color: green;
}

#decrease{
    border: 2px solid red;
    border-radius: 10px;
}

#decrease:hover{
    background-color: red;
}

#reset{
    border: 2px solid gray;
    border-radius: 10px;
}